<?xml version="1.0"?>
<!--
/**
 * 
 * @package Ceymox_TypesenseSearch
 * @author Ceymox Technologies Pvt. Ltd.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="typesense" translate="label" sortOrder="991" class="ceymoxlogo">
            <label>Thecommerceshop</label>
        </tab>
        <section id="typesense_general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Credential and Basic Setup</label>
            <tab>typesense</tab>
            <resource>Thecommerceshop_Typesensesearch::config_typesense</resource>
            <group id="credentials" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable_frontend" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="host" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Host</label>
                    <depends>
                        <field id="enable_frontend">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
                <field id="search_only_api_key" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Search-only (public) API key</label>
                    <depends>
                        <field id="enable_frontend">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
                <field id="admin_api_key" translate="label" type="password" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin API key</label>
                    <depends>
                        <field id="enable_frontend">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
                <field id="index_prefix" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Index Name Prefix</label>
                    <depends>
                        <field id="enable_frontend">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
                <field id="protocol" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>protocol</label>
                    <depends>
                        <field id="enable_frontend">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
                <field id="port" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Port</label>
                    <depends>
                        <field id="enable_frontend">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
        <section id="typesense_autocomplete" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Autocomplete Menu</label>
            <class>separator-top</class>
            <tab>typesense</tab>
            <resource>Thecommerceshop_Typesensesearch::config_typesense</resource>
            <group id="autocomplete" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Autocomplete Menu</label>
                <field id="excluded_pages" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Pages</label>
                    <frontend_model>Thecommerceshop\Typesensesearch\Block\Adminhtml\Form\Field\Autocomplete\CustomPages</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="nb_of_products_suggestions" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>required-entry validate-digits validate-not-negative-number validate-digits-range digits-range-1-20</validate>
                    <label>Number of products</label>
                    <comment>How many products to display by default</comment>
                </field>
                <field id="enable_Category" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Category Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="nb_of_categories_suggestions" translate="label comment" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>required-entry validate-digits validate-not-negative-number validate-digits-range digits-range-1-20</validate>
                    <label>Number of categories</label>
                    <depends>
                        <field id="enable_Category">1</field>
                    </depends>
                    <comment>How many categories to display by default?</comment>
                </field>
                <field id="enable_page" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Page Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="nb_of_pages_suggestions" translate="label comment" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>required-entry validate-digits validate-not-negative-number validate-digits-range digits-range-1-20</validate>
                    <label>Number of Pages</label>
                    <depends>
                        <field id="enable_page">1</field>
                    </depends>
                </field>
                <field id="enable_suggestions" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Suggestions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="nb_of_suggestions_count" translate="label comment" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>required-entry validate-digits validate-not-negative-number validate-digits-range digits-range-1-30</validate>
                    <label>Number of Suggestions Count</label>
                    <depends>
                        <field id="enable_suggestions">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
